name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v5
      with:
        python-version: ${{ matrix.python-version }}
    - run: make setup
    - run: make lint

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    env:
      MPLBACKEND: agg
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v5
      with:
        python-version: ${{ matrix.python-version }}
    - run: make setup
    - run: make test
    - run: |
        python getting_started.py
        for f in examples/*.py; do
          if [ -x $f ]; then
            $f
          fi
        done
    - run: |
        uv build
        uv pip install dist/*.tar.gz
        uv pip install dist/*.whl
